#content a:link, #content a:visited {
    font-weight:bold;
	border:1px solid black;
	padding:2px 8px;
	margin-bottom:10px;
	background-color:#373737;
	border:1px solid #373737;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	color:#fff;
	cursor:pointer;
	-moz-border-radius:3px;
	border-radius:3px;
	text-transform:uppercase;
	text-decoration:none;
}